.model-image {
  margin: 2px auto;
}
.card-image:hover {
  border-radius: 20px;
  cursor: zoom-in;
}
.modal-body {
  text-align: center;
}
.photo-card {
  border-radius: 20px;
  margin-bottom: 10px;
}
.photo-card:hover {
  box-shadow: 4px 4px 4px grey;
  padding: 5px;
}
.pagination {
  margin: 10px auto;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
}
